<div class="image-box">
  <ul class="row">
    <li><figure class="image"><img src="assets/images/dating-img-1.jpg" alt="image 1"/></figure></li>
    <li><figure class="image"><img src="assets/images/dating-img-2.jpeg" alt="image 2"/></figure></li>
    <li><figure class="image"><img src="assets/images/dating-img-3.jpeg" alt="image 3"/></figure></li>
    <li><figure class="image"><img src="assets/images/dating-img-4.jpeg" alt="image 4"/></figure></li>
  </ul>
  <ul class="row">
    <li><figure class="image"><img src="assets/images/dating-img-5.jpg" alt="image 5"/></figure></li>
    <li><figure class="image"><img src="assets/images/dating-img-6.jpeg" alt="image 6"/></figure></li>
    <li><figure class="image"><img src="assets/images/dating-img-7.jpeg" alt="image 7"/></figure></li>
    <li> <figure class="image"><img src="assets/images/dating-img-8.jpeg" alt="image 8"/></figure></li>
  </ul>
</div>
