.privacy-section {
  color: #3e3e3e;
  padding: 20px;
  .row {
    width: 90%;
    margin: 0 auto;
    .col {
      float: left;
    }
    .phone {
      width: 30%;
      min-width: 400px;
      img {
        width: 100%;
        height: 400px;
      }
    }
    .steps {
      width: 70%;
      height: 400px;
      padding-top: 100px;
      ul {
        list-style: none;
        line-height: 200%;
        margin-bottom: 10px;
        li {
          margin-bottom: 15px;
        }
        .number {
          display: inline-block;
          width: 36px;
          height: 36px;
          background-color: #4e863b;
          color: white;
          border-radius: 50%;
          text-align: center;
          margin-right: 10px;
        }
      }
    }
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .buttons {
    display: flex;
    div {
      width: 150px;
    }
    img {
      width: 100%;
      height: 60px;
    }
  }
}
.customer-testimonials {
  background-image: linear-gradient(rgb(0,0,0,0.7), rgb(0,0,0,0.7)), url("src/assets/images/hero-banner.jpg");
  object-fit: cover;
  height: auto;
  .row {
    display: flex;
    padding: 40px 20px 20px 20px;
    justify-content: center;
    flex-wrap: wrap;
    .testimony {
      flex-basis: 350px;
      margin-right: 40px;
      padding: 10px;
      position: relative;
      p::before {
        content: '\201C';
        position: absolute;
        font-size: 400%;
        left: -20px;
        top: -5px;
      }
      p {
        line-height: 140%;
        font-size: 90%;
        text-align: justify;
        padding-bottom: 10px;
      }
      .customer-name {
        img {
          border-radius: 50%;
          height: 70px;
          width: 70px;
          vertical-align: middle;
          margin-right: 10px;
        }
      }
    }
  }
}
.pizza-section {
  color: #3e3e3e;
  width: 90%;
  margin: 40px auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .pizza-tile {
    display: flex;
    max-width: 800px;
    height: 300px;
    box-sizing: border-box;
    box-shadow: 10px 10px 100px grey;
    .pizza-img {
      flex: 0 1 45%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .pizza-content{
      flex: 0 1 45%;
      display: flex;
      padding: 0 20px;
      flex-direction: column;
      justify-content: space-evenly;
      h3 {
        text-align: center;
        margin-bottom: 10px;
        color: #4e863b;
      }
      .description {
        font-size: 90%;
        line-height: 120%;
        margin-bottom: 10px;
      }
      .icons {
        display: flex;
        justify-content: space-around;
        font-size: 90%;
        i {
          padding-right: 5px;
          color: #4e863b;
        }
      }
    }
    .pizza-price{
      flex: 0 1 10%;
      background: linear-gradient(to bottom right, #988e38, #48AC33);
      writing-mode: vertical-rl;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
  }
}
