<div class="privacy-section">
  <div class="row">
    <div class="col phone">
      <img src="assets/images/phone.jpg" alt="phone" />
    </div>
    <div class="col steps">
      <div>
        <ul>
          <li><div class="number">1</div> Download the App </li>
          <li><div class="number">2</div> Register </li>
          <li><div class="number">3</div> Sign up for delivery </li>
        </ul>
      </div>
      <div class="buttons">
        <div><a href="#"><img src="assets/images/app-store.png" alt="app store" /></a></div>
        <div><a href="#"><img src="assets/images/play-store.png" alt="play store" /></a></div>
      </div>
    </div>
  </div>
</div>
<section class="customer-testimonials">
  <div class="row">
    <div class="testimony">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <div class="customer-name">
        <img src="assets/images/customer-1.jpeg" alt="customer-1">
        Lucifer Morningstar
      </div>
    </div>
    <div class="testimony">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <div class="customer-name">
        <img src="assets/images/customer-2.jpeg" alt="customer-2">
        Mazikeen
      </div>
    </div>
    <div class="testimony">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <div class="customer-name">
        <img src="assets/images/customer-3.jpeg" alt="customer-3">
        Chloe Decker
      </div>
    </div>
  </div>
</section>
