.privacy-section {
  color: #4e863b;
  padding: 20px;
  .row {
    width: 90%;
    margin: 0 auto;
    .col {
      float: left;
    }
    .phone {
      width: 30%;
      min-width: 400px;
      img {
        width: 100%;
        height: 400px;
      }
    }
    .steps {
      width: 70%;
      height: 400px;
      padding-top: 100px;
      ul {
        list-style: none;
        line-height: 200%;
        margin-bottom: 10px;
        li {
          margin-bottom: 15px;
        }
        .number {
          display: inline-block;
          width: 36px;
          height: 36px;
          background-color: #4e863b;
          color: white;
          border-radius: 50%;
          text-align: center;
          margin-right: 10px;
        }
      }
    }
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .buttons {
    display: flex;
    div {
      width: 150px;
    }
    img {
      width: 100%;
      height: 60px;
    }
  }
}
.customer-testimonials {
  background-image: linear-gradient(rgb(0,0,0,0.7), rgb(0,0,0,0.7)), url("src/assets/images/hero-banner.jpg");
  object-fit: cover;
  height: auto;
  .row {
    display: flex;
    padding: 40px 20px 20px 20px;
    justify-content: center;
    flex-wrap: wrap;
    .testimony {
      flex-basis: 350px;
      margin-right: 40px;
      padding: 10px;
      position: relative;
      p::before {
        content: '\201C';
        position: absolute;
        font-size: 400%;
        left: -20px;
        top: -5px;
      }
      p {
        line-height: 140%;
        font-size: 90%;
        text-align: justify;
        padding-bottom: 10px;
      }
      .customer-name {
        img {
          border-radius: 50%;
          height: 70px;
          width: 70px;
          vertical-align: middle;
          margin-right: 10px;
        }
      }
    }
  }
}
